#quiz {
  margin: auto;
  float: none;
  background-color: #ffe28a;
  box-shadow: none;
  display: block;
  width: 50%;
  text-align: center;
  padding: 2em 0em 0em 0em;
  color: white;
}

#form_description {
  font-size: 14px;
}
#inputSection {
  margin: 3%;
  padding: 2%;
  display: block;
}
#inputSection input {
  align: right;
}
form {
  padding: 1em 0em 0em 0em;
  margin: auto;
  width: 50%;
  border-color: #6fcb9f;
}
legend {
  border-color: #6fcb9f;
  background-color: #ffe28a;
  padding: .5em;
}
fieldset {
  margin-left: 25%;
  margin-right: 25%;
  border: none;
  background-color: #ffe28a;
  color: #6fcb9f;
  box-shadow: 3px 3px #fb2e01;
}
fieldset input[type=submit] {
  display: block;
  margin: auto;
}
input {
  margin: 2%;
  display: inline-block;
  width: 400px;
}
input[type=submit] {
  padding: 10px;
  background-color: #6fcb9f;
  color: #fb2e01;
  box-shadow: 3px 3px #fb2e01;
  border: none;
}
input[type=text] {
  width: auto;
}
input[type=checkbox] {
  float: left;
  width: auto;
}
label {
  margin: auto;
}
select {
  display: inline-block;
  margin: 2%;
  float: right;
  width: 400px;
  background-color: #ffe28a;
  color: #6fcb9f;
  border: none;
}
textarea {
  width: 400px;
  height: 80px;
  display: inline-block;
  margin: 2%;
}
