@media screen and (min-width: 300px), print {
    #basicNav {
        display: block;
        margin: 0 auto;
    }
    nav.sitenavigation {
        display: none;
    }
}
@media screen and (min-width: 650px), print {
    #basicNav {
        display: none;
    }
    nav.sitenavigation {
        display: block;
    }
}
